.b-comment-area {
    width: 100%;
}

.b-comment-area__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.b-comment-area__actions-posted {
    font-size: 9.5px;
    letter-spacing: 0.5px;
    color: #616161;
}

.b-comment-area__actions-btn {
    border: 1px solid #ddd;
}

.b-comment-area__actions-btn + .b-comment-area__actions-btn {
    margin-left: 10px;
}


.b-comment-area__textarea {
    width: 100%;
}

.b-comment-area__text {
    line-height: 1.4;
    text-align: justify;
}

.b-comment-area__btn-save {
    margin-top: 10px;
    border: 1px solid lightgreen;
}
