.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#root {
    padding-top: 52px;
    position: relative;
    z-index: 1;
}

.f-default {
    transition: opacity .2s ease-out;
}

.f-default._sending {
    opacity: .4;
}

.f-default__title {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
    color: #fdfcfb;
    font-weight: 400;
    letter-spacing: 0.15em;
}

.f-default__row {
    height: 40px;
    position: relative;
}

.f-default__row + .f-default__row {
    margin-top: 30px;
}

.f-default__field {
    width: 100%;
    height: 100%;
    padding: 0 5px;
    font-size: 1.4rem;
    color: #685e5f;
    border: 1px solid #d8cfca;
    background-color: rgba(255, 255, 255, .65);
}

.btn-default {
    padding: 0.5em .8em;
    border: 1px solid;
    font-size: 1.6rem;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
