*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

html:root {
    --bg-negative-padding: 5px;
    --text-color-dark: #191a2b;
    --text-color-light: #ebecee;
    --item-bg: rgba(255, 255, 255, .7);
    --border-color-light: #ebecee;
}

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    //background-color: #fff;
    color: #191a2b;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-image: linear-gradient(to right, #64B5F6 50%, #2196F3 100%);
}

body::before,
body::after {
    //content: '';
    width: calc(100% + var(--bg-negative-padding) * 2);
    height: calc(100vh + var(--bg-negative-padding) * 2);
    position: fixed;
    top: calc(-1 * var(--bg-negative-padding));
    left: calc(-1 * var(--bg-negative-padding));
    filter: blur(5px);
}

body::before {
    background-image: linear-gradient(to left, rgba(156, 210, 186, 0.7) 0%, rgba(218, 201, 173, 1) 100%);
}

body::after {
    background-image: linear-gradient(to top, rgba(148, 83, 109, 1) 0%, rgba(127, 63, 134, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
}

img {
    max-width: 100%;
    height: auto;
    border: none;
    outline: 0;
}

button {
    background: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: 0;
}

button:hover,
button:focus {
    outline: 0;
}

input {
    background: transparent;
    border: 0;
    outline: 0;
}

input:hover,
input:focus {
    outline: 0;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input,
textarea,
select,
button {
    font-family: 'Source Sans Pro', sans-serif;
}

textarea {
    outline: 0;
    resize: none;
}

select {
    outline: 0;
}

label {
    cursor: pointer;
}

address {
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    margin: 0;
}

a, a:hover {
    outline: 0;
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

video {
    background-size: cover;
    background-position: center;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: bottom;
}

br {
    font-size: 1.6rem;
}

[hidden],
template {
    display: none;
}

:disabled,
[disabled],
[aria-disabled="true"] {
    cursor: not-allowed;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

@media screen and (max-width: 740px) {
    .container {
        padding: 0 15px;
    }
}
