.s-ad {
    padding: 80px 0 50px;
    border: 1px solid;
}


.b-ad {
    background-color: var(--item-bg);
    padding: 30px 20px 20px;
}

.b-ad__title {
    font-size: 2.8rem;
    text-align: center;
}

.b-ad__img {
    display: block;
    margin: 50px auto 0;
}

.b-ad__text {
    margin-top: 25px;
    letter-spacing: 1px;
    line-height: 1.4;
    text-align: justify;
}



.s-comments {
    padding: 50px 0 70px;
    border: 1px solid;
}

.s-comments__inner {
    max-width: 740px;
    margin: 0 auto;
    border: 1px solid #ddd;
}

.s-comments__title {
    margin-bottom: 50px;
}



.f-comment {
    margin: 0 auto;
}

.f-comment__title {
    margin-bottom: 20px;
}

.f-comment__area {
    width: 100%;
    padding: 5px 10px;
    font-size: 1.4rem;
}

.f-comment__btn {
    display: table;
    margin: 20px 0 0 auto;
}



.l-comments {
    margin: 0 auto;
}

.l-comments__item {
    display: flex;
    border: 1px solid #ddd;
    position: relative;
}

.l-comments__item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: .1;
    animation: bg-pulse .5s ease-in-out alternate infinite;
}

.l-comments__item._updating::before {
    content: '';
    background-color: #4CAF50;
}


.l-comments__item._removing::before {
    content: '';
    background-color: #C62828;
}

.l-comments__item + .l-comments__item {
    margin-top: 50px;
}

.l-comments__user {
    flex-shrink: 0;
    width: 110px;
    margin-right: 25px;
    text-align: center;
}

.l-comments__user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.l-comments__user-name {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: .08em;
}


@keyframes bg-pulse {
    to {
        opacity: .5;
    }
}
